<header class="main-header">
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		<div>
			<a href="#" class="sidebar-toggle" data-toggle="push-menu"
				role="button" onclick='toggle();'> <span class="sr-only">Toggle
					navigation</span>
			</a>
		</div>
		<div id="headerTitleArea"
			style="float: left; height: 100%; width: 20%; left: 50%; vertical-align: middle;">
			<i id="headerTitleIcon" style="font-size: 18pt; color: #FFFFFF;"></i>
			<span id="headerTitleText"
				style="height: 100%; vertical-align: middle; font-size: 17pt; font-weight: bold; color: #FFFFFF;"></span>
		</div>
 		
		<div id="headUserArea"
			style="text-align: right; margin-top: 10px; margin-right: 50px">
			<span th:if="${curUserName == null}"> 로그인이 필요합니다. </span> <span
				th:unless="${curUserName == null}"
				style="font-size: 15pt; color: #FFFFFF;"> <a href="/userinfo"
				style="font-size: 15pt; color: #FFFFFF" id="userName"
				class="userName" th:text="${curUserName}"></a> 님 환영합니다.&nbsp; <a
				href="#" id="userIcon" class="userIcon"><i class='fa fa-user'></i></a>
				<a href="#" id="alarmIcon" class="alarmIcon"><i
					class='fa fa-bell'></i></a> <a href="#" id="logonIcon"
				class="logonIcon"><i class='fa fa-power-off' onclick='logout();'></i></a>
			</span>
		</div>
<!-- 
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
 
                <ul class="menu">
                  <li>
                    <a href="#">
                      <div class="pull-left">

                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
     
                  <li>
                    <a href="#">
                      <div class="pull-left">

                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">

                    </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">

                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>  
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
   
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>

          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>

                <ul class="menu">
                  <li>
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
              
                  <li>
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
               
                  <li>
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
          
                  <li>
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
              
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs" th:text="${curUserName}"></span>
            </a>
            <ul class="dropdown-menu">
   
              <li class="user-header">
                <p>?
                  
                  
                </p>
              </li>
            
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
   
              </li>
       
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
       
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
       -->
		<div class="dim-layer" style="display: none;">
			<div class="dimBg"></div>
			<div id="popup_bg" class="pop-layer">
				<div class="pop-container">
					<div class="pop-conts">
						<!--content //-->
						<div id="popup_area"
							style="overflow: auto; text-align: center; width: 100%;"></div>
						<div class="btn-r">
							<a href="#" class="btn-layerClose">Close</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<script>
		function setHeaderTitle(headerTitleText, headerTitleIconClassName,
				headerTitleAreaClassName) {
			if (headerTitleText != null) {
				$("#headerTitleText").html(headerTitleText);
			}
			if (headerTitleIconClassName != null) {
				//$("#headerTitleIcon").addClass(headerTitleIconClassName);
			}
			if (headerTitleAreaClassName != null) {
				$("#headerTitleArea").addClass(headerTitleAreaClassName);
			}
		}

		function ready() {
			readyAction();
		}

		function toggle() {
			//$('[data-toggle="push-menu"]').pushMenu('toggle');
			if ($("#nav-left-login-area").css("display") == "none") {
				$('#nav-left-login-area').css("display", "block");
			} else {
				$('#nav-left-login-area').css("display", "none");
			}
		}

		function logout() {
			location.href = "/logout";
		}

		function load_popup(uri, data, width, height) {

			var $el = $('#popup_bg'); //레이어의 id를 $el 변수에 저장
			var isDim = $el.prev().hasClass('dimBg'); //dimmed 레이어를 감지하기 위한 boolean 변수

			if (width == null) {//width가 안들어오는 경우는 알아서 창 사이즈에 맞춰 설정
				width = window.innerWidth * 0.8;
			}
			if (height == null) {//height가 안들어오는 경우는 알아서 창 사이즈에 맞춰 설정
				height = window.innerHeight * 0.9;
			}

			$el.outerWidth(width);
			$el.outerHeight(height);
			$("#popup_area").height(height - 100);

			$('#popup_area').load(uri, data);

			isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

			var $elWidth = ~~($el.outerWidth()), $elHeight = ~~($el
					.outerHeight()), docWidth = $(document).width(), docHeight = $(
					document).height();

			// 화면의 중앙에 레이어를 띄운다.
			if ($elHeight < docHeight || $elWidth < docWidth) {
				$el.css({
					marginTop : -$elHeight / 2,
					marginLeft : -$elWidth / 2
				})
			} else {
				$el.css({
					top : 0,
					left : 0
				});
			}

			$el.find('a.btn-layerClose').click(function() {
				isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
				$('#popup_area').html("");
				return false;
			});

			$('.layer .dimBg').click(function() {
				$('.dim-layer').fadeOut();
				return false;
			});
		}
	</script>

</header>
